@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


@import "tailwindcss";

@theme {
    --font-poppins: 'Poppins', sans-serif;
    --color-whitebg: #F9FAFB;
    --color-pink: #FF498A;
    --color-dark: #1F2937;
    --color-grey: #9CA3AF;
    --color-button-blue: #1869F8;
}

.btn-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.card-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
footer {
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes wiggle-cloud {
    0%, 100% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(10px);
    }
  }
  
  .wiggle-cloud {
    animation: wiggle-cloud 12s ease-in-out infinite;
  }
  